<div id="modal_flash_result" class="mb-4">
  <div class="<%= type == 'notice' ? 'bg-green-50 border border-green-200 text-green-700' : 'bg-red-50 border border-red-200 text-red-700' %> px-4 py-3 rounded text-hl-13"><%= msg %></div>
</div>