<%= turbo_stream.replace 'pyramid-sector' do %>
<select name="sector" id="pyramid-sector" class="px-3 py-2 text-hl-13 border border-line rounded focus:border-link w-40 bg-white">
  <option value="">全部</option>
  <% @sectors.each do |sector| %>
    <option value="<%= sector %>"><%= sector %></option>
  <% end %>
</select>
<% end %>